@{
    ViewBag.Title = "Contact the owner";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Mpogson51@gmail.com">Michaels Email address for bug issues</a><br />
    <strong>Requests:</strong> <a href="mailto:Mpogson51@gmail.com">Michaels Email for requests for things to be added</a>
</address>