@{
    ViewBag.Title = "Welcome to the pogson-lavalley Christmas Organizer";
}

<style>
    #fromNames, #toNames {
        border: 1px solid #eee;
        width: 142px;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
    }

        #fromNames li, #toNames li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 120px;
        }
</style>

<div class="jumbotron">
    <h1> Christmas Organizer 1.0.</h1>
</div>

<div class="row">
    <div>
        <h2>Getting started</h2>
        <p>
            Select which family you would like to generate a christmas match for and just click gnereate!
            If you didnt like that match just keep clicking un till you do. Then click Save and email will be sent to all participants with the list!
        </p>
    </div>
    <label for="familySelector">Select a family</label>
    <select name="familySelector" id="familySelector">
        <option selected="selected">Select a family name</option>
        <option>Pogson</option>
        <option>Lavalley</option>
    </select>

    <ul id="sortable1" class="connectedSortable hidden">
        <li class="ui-state-default">Item 1</li>
        <li class="ui-state-default">Item 2</li>
        <li class="ui-state-default">Item 3</li>
        <li class="ui-state-default">Item 4</li>
        <li class="ui-state-default">Item 5</li>
    </ul>

    <ul id="sortable2" class="connectedSortable hidden">
        <li class="ui-state-highlight">Item 1</li>
        <li class="ui-state-highlight">Item 2</li>
        <li class="ui-state-highlight">Item 3</li>
        <li class="ui-state-highlight">Item 4</li>
        <li class="ui-state-highlight">Item 5</li>
    </ul>

</div>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
  $(function() {
      $("#familySelector").selectmenu();
      $(".familySelector").on('change', function () {
          alert(this.value);
      });
      $("#fromNames, #toNames").sortable({
          connectWith: ".connectedSortable"
      }).disableSelection();
  });
</script>